@import '../src/scss/utils';
@import '../src/scss/variables';
@import '../src/scss/responsive';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,.App,
.intro{
   overflow-x: hidden;
   background-color: #000;
}

.App.loading{
   height: 100vh;
   overflow: hidden;
}

body{
    background-color: $primary-dark-blue;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    background-image: $primary-dark-blue;
}